html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  padding-left: max(calc((100vw - 1300px) / 2), 1rem);
  padding-right: max(calc((100vw - 1300px) / 2), 1rem);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  object-fit: cover;
  object-position: 0 25%;
}

.dropdown {
  display: none;
}
.dropdown_btn:hover .dropdown {
  display: block;
}

/* ------------- LOADING ------------ */
@import url('./loading.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
